.css-1oqqzyl-MuiContainer-root {
    padding: 0;
  }
  
  /* @media (min-width: 1200px) {
    .css-1oqqzyl-MuiContainer-root {
      max-width: 1400px; /* Corrected typo 'max: widht' to 'max-width' */
    
  .css-bnvr6j-MuiPaper-root-MuiAppBar-root {

    background-color: #13212e;
  }  
